.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.1fr 0.7fr 1.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    text-align: center;
    margin-top: 15%;
  }
  
  .bckImg { grid-area: 1 / 1 / 4 / 4; }
  
  .TypeWriter { grid-area: 2 / 1 / 3 / 4; }
  